div#MSText {
	font-family: Sans-serif;
}

.disclaimer {
	font-family: Serif;
	border:2px solid black;
	padding:0.5em;
	background-color: #D8D8D8;
}

.disclaimer p {
	margin: 0.5em 0em 0.5em 0em;
}

div.abTitle {
	display: block;
	margin: 5em 50% 0em 0em;
	border:2px solid black;
	padding:0.5em;
	background-color: #333300;
	color: #D8D8D8;
	font-size: 1.5em;
}




/************************/
/* THE 3 TEXTUAL LAYERS */
/************************/

/* This was needed when the LL row was displayed. It applied to the
 * visualization including only the modern spelling (e.g.: artis)
.LL {
	color: blue;
}
*/

/* This was needed when the LL row was diplayed. It applied to this visualization:
 * "artis": [ars] Nominal, Positive, III decl, Singular Genitive, Feminine,
.LL.triform {
	font-size: 0.5em;
}
*/

.AL {
	color: blue; /*It was orange before I decided not to display a separate row for the LL*/
}

.GL {
}

td.LLCell {
	padding-top: 3em;
	/* I added the following line when I decided that the LL should only
	 * appear on hover, not in a table row. */
	display: none;
}

td.ALCell {
	/* I added the following line when I decided that the LL should only
	 * appear on hover, not in a table row. This means that the ALCell is
	 * now the uppermost row in the cell. */
	padding-top: 1.5em;
}





/*********************************/
/* TYPES OF WORDS <w type="..."> */
/*********************************/

td.ALCell.alphabemes:before, td.ALCell.alphabemes:after {
	/* XML: <w type="alphabemes">
	 * HTML DOM: <td class="ALCell alphabemes"> */
	content: "\"";
	color: blue;
}

td.ALCell.nonsense {
	/* XML: <w type="nonsense">
	 * HTML DOM: <td class="ALCell nonsense"> */
	font-style: italic;
}

td.ALCell.foreign, td.ALCell.ancientAbbreviation, td.ALCell.numeral {
	/* XML: <w type="foreign">
	 * HTML DOM: <td class="ALCell foreign"> */
	font-variant: small-caps;
}





/**********/
/* TABLES */
/**********/

table {
	display: inline-table;
}



/*****************/
/* LEGENDA TABLE */
/*****************/

table#legendaTable, table#legendaTable td {
	/* border: 2px solid gray; */
	border: none;
	padding: 5px;
}

table#legendaTable, table#legendaTable td.separator {
	border: none;
}

table#legendaTable td.separator {
	width: 15px;
}

table#legendaTable td.iconRow, table#legendaTable th {
	text-align: center;
	border: 2px solid gray;
}

/**************/
/* GTOS TABLE */
/**************/

dl#gtosLegenda dt {
	font-style: italic;
	margin-top: 0.5em;
}

table#gtosHtmlTable * {
	/* border: 1px solid gray; */
	border-collapse: collapse;
	text-align: center;
	padding: 5px;
	font-family: Sans-serif;
}

table#gtosHtmlTable td {
	margin: 150px;
}

table#gtosHtmlTable td.td0 , table#gtosHtmlTable td.td1 , table#gtosHtmlTable td.td2 {
	font-size: 1.5em;
}

table#gtosHtmlTable tr:nth-child(even) {background: #CCC}
table#gtosHtmlTable tr:nth-child(odd) {background: #FFF}

table#gtosHtmlTable img { height: 60px; }


/****************/
/* OTHER TABLES */
/****************/

table.wordTable td {
}

table.lbTable td {
}

table.gapTable td {
}

table.spaceTable td {
}




/********************************/
/* DROPCAP, LARGER INITIAL, GAP */
/********************************/

span.GL.dropcap { 
	/*font-weight: bold;*/
	text-shadow: 4px 4px 4px #000;
	font-size: 3em;
	text-transform: uppercase;
}

span.GL.larger, span.head td.GLCell{ 
	/*font-weight: bold;*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 1.2em;
	/*font-size: 1em;*/
}

span.AL.gap, span.GL.gap {
	background-color: #CCFFCC;
}




/*********************/
/* NOTES AND SOURCES */
/*********************/

/* .note, .source, .pb, .cb{ */
.source, .pb, .cb{
	font-size: 0.8em;
	/* Whatch out: I'm setting font-size back to 1em in div.note.source below */
}

div.source {
	display:inline-block;
	vertical-align: bottom;
	/*width: 15em;*/
	/*height: 5em;*/
	font-size: 0.8em;
	border:0.3em brown;
	padding:0.2em; 
	margin: 0.5em 0.5em 0em 0.5em;
	background-color: #99FF00;
	color: brown;
}

div.source.start {
	border-style: dotted none dotted solid;
	border-left: solid 0.4em;
}

div.source.end {
	border-style: dotted solid dotted none;
	border-right: solid 0.4em;
}

div.note {
	display:inline-block;
	vertical-align: bottom; /* It was: bottom */
	/*height: 5em;*/
	border:2px dotted black; 
	padding:0.1em; /* It was: 0.2 */
	margin: 0em 0.5em 0em 0.5em;
	background-color: #F2F5A9;
}

div.note.source {
	/* background-color: #ddf981; /* Light green */
	background-color: #99FF00;	/* Green: the same as the source start or end */
	color: black;
	font-size: 1em;
}

div.note.tech {
	background-color: #A9F5E1; /* Light blue */
}

div.note.script , div.note.graphic , div.note.facsimile {
	background-color: #FFFF66; /* Yellow */
	/* background-color: #F2F5A9; /* Yellow */
}

div.note.content {
	/* background-color: #F5D0A9; */
	background-color: navy;
}

div.note.content * , div.note.emendation * {
	/* color: #A9F5E1; */
	color: silver;
}

div.note.emendation {
	/*background-color: #F5D0A9; 	/* Pink */
	background-color: maroon; 	
}

div.note > a {
	text-decoration: none; /* No underlining */
}

div.note.contentDiv, div.source.contentDiv {
	width: 25em; /* It was 15em */
	border:none;
}




/***********************************/
/* PAGE-/COLUMN-/LINE-BREAK, SPACE */
/***********************************/

div.pb, div.cb {
	display:inline-block;
	vertical-align: bottom;
	/*
	border:2px dotted white;
	padding:0.2em; 
	margin: 0.5em 0.5em 0em 0.5em;
	width: 5em;
	background-color: #003333;
	color: grey;
	*/
}

div.pb a {
	color: white;
}

span.lb {
	color: grey;
	font-size:xx-small; vertical-align:bottom;
}

span.LL.space, span.AL.space, span.GL.space {
	color: white; 
	background-color: white; 
}

span.GL.space {
	/*border: 0.1em solid #CCCCCC;*/ /*vecchio*/
	border: none;			/* nuovo */
	color: #CCCCCC; 		/* nuovo */
	background-color: #CCCCCC; 	/* nuovo */
}




/*****************/
/* ABBREVIATIONS */
/*****************/

span.GL.base.superscription {
	color: red;
}

span.GL.am.superscription {
	color: red;
	/*
	font-size:xx-small; vertical-align:top;
	*/
	/* The next two lines are for cross-browser compatibility */
	/*
	vertical-align: super;
	font-size: .75em;
	*/
}

span.GL.after {
	color: purple;
}

span.GL.brevigraph {
	color: green;
}

span.GL.omission {
	color: pink;
}

span.AL.abbrExpansion {
	text-decoration: underline;
}

span.AL.notAbbreviated {
}

span.GL.notAbbreviated {
}





/***********/
/* UNCLEAR */
/***********/

span.unclear.certhigh td.GLCell {
	background-color: #E0E0E0;
}

span.unclear.certmedium td.GLCell {
	background-color: #A8A8A8;
}

span.unclear.certlow td.GLCell {
	background-color: #909090;
}


/*****************************************/
/* APPARATUS <choice> / <sic> and <corr> */
/*****************************************/

span.apparatus.sic td {
	border: 2px solid silver; 
}

span.apparatus.corr td {
	border: 2px solid maroon; /* The same color as the background color of <div class="note emendation"> */
}

/*************************************************/
/* TEXT IN INTERLINEAR SPACE <add place="above"> */
/*************************************************/

span.add.wholeword.placeabove td.GLCell {
	/* This applies to original <add place="above"> being _parent_ of <w>, at the GL */
	font-style: italic;
	font-size:xx-small; vertical-align:top;
	/* The next two lines are for cross-browser compatibility */
	vertical-align: super;
	font-size: .75em;
}

td.GLCell span.add.wordpart.placeabove {
	/* This applies to original <add place="above"> within <w> */
	font-style: italic;
	font-size:xx-small; vertical-align:top;
	/* The next two lines are for cross-browser compatibility */
	vertical-align: super;
	font-size: .75em;
}

td.ALCell span.add.wordpart.placeabove {
	/* This applies to original <add place="above"> within <w> */
	color: orange;
}
